*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2%;
}
.clear{ clear: both; }

/* Cabeçalho */ 
header { padding: 8px 0;
}
.logo {
	float: left;
}
.logo h1 {
	font-weight: normal;
	font-size: 23px;
}


nav.nav1 li.li1{font-weight: bold;}
nav.nav1 {
	float: right;
}
nav.nav1 ul {
	position: relative;
	top:8px;
}
nav.nav1 li {
	padding: 0 10px;
	display: inline-block;
	font-weight: lighter;
 }
nav.nav1 a{
	color:black;
	text-decoration: none;
}
nav.nav1 a:hover{ text-decoration: underline; }

/*menu mobile*/
nav.nav2{
	display: none;
	float: right;
}
nav.nav2 h2{
	cursor: pointer;
}
nav.nav2 ul {
    display: none;
 	width: 100%;
 	background: white;
 	position: absolute;
 	left: 0;
 	top: 44px;
 	z-index: 999;
 	text-align: center;

}
nav.nav2 li {
	padding: 8px 0;
	border-bottom: 1px solid black;
}
nav.nav2 a {
	display: block;
	color: black;
	text-decoration: none;
}



/*section 1*/
section.section1{
	position: relative;
	width: 100%;
	padding: 50px 0 100px 0;
	background: url('.././fotos./wallpaper_linkedin2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}
section.section1 > .container {
	position: relative;
	z-index:2;
}
.overlay{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5);
	left: 0;
	top:0;
}
section.section1 h2{

	color: #52aaa7;
	font-size: 40px;
	font-weight: normal;
}
section.section1 p{
	color:white;
	font-size: 17px;
	margin-top: 15px;
}

/*section2*/

section.section2{
	padding: 40px 0;
	text-align: left;
}
.line-text{
	width: 100%;
	padding: 2px 0 0px 0;
	position: relative;
	display: inline-block;
	color: #52aaa7;
}
.line-text > div{
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	height: 3px;
	background:#52aaa7;
}
.line-text h2{
	font-weight: normal;
	font-size: 27px;
}
.redes_sociais{
	margin-top: 25px;
	margin-bottom: 10px;
	width: 100%
}
.boxRS{
	float: left;
	padding: 5px;
	}
.boxRS > h2 > a > img{
	height: 40px;
}
.boxRS h2{
	color: #8a6b62;
	font-size:40px;
}
@media screen and ( max-width: 768px){
	.boxRS{
		padding: 5px;
		width: 33.3%;
		float: left;
		text-align: center;
	}
	.boxRS > h2 > a > img{
		height: 60px;
		max-width: 100%;
	}
	nav.nav1{display: none;}
	nav.nav2{
	display: block;
	}
}
@media screen and (max-width: 400px){
	.boxRS{
		padding: 5px;
		display:contents;
		width: 33.3%

}
@media screen and (max-width: 242px){
	.line-text h2{
		font-size: 20px;
		margin: 10px 0 0 0;
	}

}
@media screen and (max-width: 180px){
	.line-text h2{
		font-size: 11px;
		margin: 20px 0 0 0;
	}

}
